.section__cast {
    text-align: center;
    background-color: #30435b;

    h3 {
        color: white;
        margin-top: 1.5em;
        font-size: 2rem;
    }

    #corousel-container {
        width: 80%;
        margin: auto;
        overflow: hidden;
        position: relative;
        text-align: center;
    }

    .corousel {
        display: flex;
        justify-content: center;
        transition: transform 0.5s ease-in-out;
        margin-top: 20px;
    }

    .corousel-item {
        min-width: 185px;
        box-sizing: border-box;
        margin-right: 24px;
        box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.6);

        img {
            object-fit: cover;
            width: 100%;
            height: 185px;
            box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.6);;
        }
    }

    .corousel-item:last-child {
        margin-right: 0;
    }

    #prevBtn,
    #nextBtn {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: #102e54;
    }

    #prevBtn {
        left: 0;
        padding-right: 24px;
        border-radius: 20px;
    }

    #nextBtn {
        right: 0;
        border-radius: 20px;
        padding-left: 20px;
    }
}