.section__cast {
    background-color: #676f9c;
    padding: 20px;
    height: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    &__container {
        display: grid;
        align-items: center;

        h2 {
            padding-top: 10px;
            margin: 0 20px;
            text-align: center;
            font-size: 2rem;
            color: #cca483;
        }

        .cast-photo {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            list-style: none;
            position: relative;

            .text-named {
                color: #eeaa7383;
                text-align: center;
            }

            a {
                text-decoration: none;
                pointer-events: none;
            }

            li {
                padding: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            p {
                color: #eeab73;
                font-size: 1.5em;
                text-align: center;
            }

            img {
                width: 150px;
                height: 150px;
                pointer-events: auto;
                border-radius: 70px;
                object-fit: cover;
                transition: transform 0.5s ease;


                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}