footer {
    background-color: black;
    padding: 12px 8px;

    h2 {
        font-size: 36px;
        color: white;
        display: flex;
        justify-content: center;

        ion-icon {
            font-size: 32px;
        }
    }
}

.footer__container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;

    .footer__links {
        display: flex;
        list-style: none;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        .footer__items {
            display: inline-block;

            a {
                color: white;
                text-decoration: none;
                padding: 8px 16px;
                display: block;
            }

            a:hover {
                color:gray;
            }
        }
    }

    .footer__medias {
        padding-bottom: 5px;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;

        &__items {
            display: inline-block;

            ion-icon {
                font-size: 22px;
            }

            a {
                text-decoration: none;
                padding: 8px;
                display: block;
                color: white;
            }

            a:hover {
                color: gray;
            }
        }
    }

    p {
        color: white;
        font-size: 12px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .sites {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        padding-top: 20px;
        pointer-events: none;

        img {
            max-width: 80px;
            border-radius: 10px;
            pointer-events: auto;
        }
    }
}