.header__container {
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 10px;

    h1 {
        font-size: 2.5rem;


        ion-icon {
            font-size: 32px;
        }
    }
}

#header.roll {
    background-color: black;
    padding: 10px;
    transition: background-color 0.5s ease-in;

    .container__items {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    .container__items__link {
        display: inline;
        margin-right: 20px;

        ion-icon {
            font-size: 20px;
        }
    }
}

#header.roll a {
    background-color: transparent;
    padding: 5px 10px 10px;
}

#header.roll a:hover {
    padding: 10px;
}

.container__items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 10px;
}

.container__items__link {
    display: inline;
    margin-right: 30px;

    ion-icon {
        font-size: 22px;
    }
}

.container__items__link a {
    color: white;
    text-decoration: none;
}