.header__container {
    padding: 10px;
    background-color: #162230;
    color: white;
    display: flex;
    justify-content: space-between;
    line-height: 70px;
}

.container__items {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.container__items__link {
    display: inline;
    margin-right: 20px;
}

.container__items__link a {
    color: #fff;
    text-decoration: none;
    background-color: #001F3F;
    box-shadow: 0px 6px 8px rgb(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
}