.header__container {
    padding: 10px;
    color: #eebbc3;
    display: flex;
    justify-content: space-between;
    line-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;

    h1 {
        font-size: 36px;

        ion-icon {
            font-size: 32px;
        }
    }
}

#header.roll {
    background-color: #121629;
    padding: 5px;

    .container__items {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    .container__items__link {
        display: inline;
        margin-right: 20px;

        ion-icon {
            font-size: 20px;
        }
    }
}

#header.roll a {
    background-color: #232946;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    padding: 5px 10px 10px;
    border-radius: 10px;
}

#header.roll a:hover {
    background-color: #121629;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.container__items {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.container__items__link {
    display: inline;
    margin-right: 30px;

    ion-icon {
        font-size: 22px;
    }
}

.container__items__link a {
    color: #eebbc3;
    text-decoration: none;
}