.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-color: #111622;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;

    &--img {
        width: 100%;
        display: block;
    }

    .overlay {
        position: relative;
        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

